In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [3]:
products_data = pd.read_csv("/home/dennis/Desktop/regulusProducts.csv")
display(products_data.head())

,SKU,Product,Brand,Order number,Date placed,Quantity,Unit price,Total price,Order status,Categories,Customer email,Customer phone,Customer name
0,2060607000557,Hp Ink Cartridge 650 Black,HP,693653,2023-09-01 08:33:42,1,2950,2950,Awaiting payment,Computers & Electronics > Printer Supplies,bytronicsandnewspapers@gmail.com,2.547220e+11,Bytronics Computers Ltd
1,2060607000558,Hp Ink Cartridge 650 Colour,HP,693653,2023-09-01 08:33:42,1,2500,2500,Awaiting payment,Computers & Electronics > Printer Supplies,bytronicsandnewspapers@gmail.com,2.547220e+11,Bytronics Computers Ltd
2,BK00000005421,Wahala,NaN,589547,2023-09-01 09:13:02,1,1012,1012,Awaiting payment,Books > Motivation & Self Help > Family & Rela...,flonsie17@gmail.com,2.547273e+11,Florence Njeri
3,BK00000006917,Malibu Rising: From the Sunday Times bestselli...,NaN,589547,2023-09-01 09:13:02,1,1350,1350,Awaiting payment,Books > Novels > Fiction > Modern & Contempora...,flonsie17@gmail.com,2.547273e+11,Florence Njeri
4,2040432000032,Wrapping Paper GW35,NaN,693669,2023-09-01 09:48:34,1,60,60,Delivered,"Books > Cards, Gift bags & boxes",wambuidiana64@gmail.com,2.547483e+11,Diana Wambui

In [4]:
products_data.describe()

,Order number,Quantity,Unit price,Total price,Customer phone
count,3140.000000,3140.000000,3140.000000,3140.000000,3.092000e+03
mean,669814.275478,1.744586,2197.225478,2558.431529,2.572497e+11
std,86553.888176,4.677737,10678.270251,11424.034938,1.262900e+11
min,87367.000000,1.000000,0.000000,0.000000,1.202911e+10
25%,693703.000000,1.000000,225.000000,315.000000,2.547143e+11
50%,696113.000000,1.000000,680.000000,800.000000,2.547224e+11
75%,698998.000000,1.000000,1596.250000,1790.000000,2.547281e+11
max,702565.000000,200.000000,235000.000000,235000.000000,4.916099e+12

In [5]:
#binary encode the order status to get those bought and those not bought
df= pd.DataFrame(products_data)
display(df["Order status"].unique())
label_encoder = LabelEncoder()
df["Order status"] = label_encoder.fit_transform(df['Order status'])
display(df["Order status"].unique())
display(df)

array(['Awaiting payment', 'Delivered', 'Cancelled', 'Awaiting dispatch'],
      dtype=object)

array([1, 3, 2, 0])

,SKU,Product,Brand,Order number,Date placed,Quantity,Unit price,Total price,Order status,Categories,Customer email,Customer phone,Customer name
0,2060607000557,Hp Ink Cartridge 650 Black,HP,693653,2023-09-01 08:33:42,1,2950,2950,1,Computers & Electronics > Printer Supplies,bytronicsandnewspapers@gmail.com,2.547220e+11,Bytronics Computers Ltd
1,2060607000558,Hp Ink Cartridge 650 Colour,HP,693653,2023-09-01 08:33:42,1,2500,2500,1,Computers & Electronics > Printer Supplies,bytronicsandnewspapers@gmail.com,2.547220e+11,Bytronics Computers Ltd
2,BK00000005421,Wahala,NaN,589547,2023-09-01 09:13:02,1,1012,1012,1,Books > Motivation & Self Help > Family & Rela...,flonsie17@gmail.com,2.547273e+11,Florence Njeri
3,BK00000006917,Malibu Rising: From the Sunday Times bestselli...,NaN,589547,2023-09-01 09:13:02,1,1350,1350,1,Books > Novels > Fiction > Modern & Contempora...,flonsie17@gmail.com,2.547273e+11,Florence Njeri
4,2040432000032,Wrapping Paper GW35,NaN,693669,2023-09-01 09:48:34,1,60,60,3,"Books > Cards, Gift bags & boxes",wambuidiana64@gmail.com,2.547483e+11,Diana Wambui
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,2070701000064,FX-82ES Plus Casio Calculator Scientific,NaN,702531,2023-09-30 19:50:22,1,2530,2530,3,Computers & Electronics > Calculators,esha1512@yahoo.com,2.547218e+11,Esha Chauhan
3136,2010111000124,Collins Gem French Dictionary,NaN,691751,2023-09-30 21:28:17,1,690,690,3,Books > Reference,safaadan908@gmail.com,2.547460e+11,the one
3137,BK00000004498,"iPrimary Reception Activity Book: English, Rec...",NaN,702332,2023-09-30 21:58:26,1,800,800,1,Educational Books > International Curriculum >...,chirag.somochem@gmail.com,2.547877e+11,chirag shah
3138,BK00000004498,"iPrimary Reception Activity Book: English, Rec...",NaN,702565,2023-09-30 22:00:54,1,800,800,3,Educational Books > International Curriculum >...,chirag.somochem@gmail.com,2.547877e+11,chirag shah
3139,BK00000009788,Lessons in Chemistry,NaN,702282,2023-09-30 22:37:36,2,1233,2466,3,Books > Novels > Fiction > Historical Fiction,kwonyike@gmail.com,2.547228e+11,Jepkeitany Kwonyike

In [6]:
#create a pivot table
products_bought = df.pivot_table(values="Order status",index="Customer name", columns="Product")
display(products_bought)

Product,'A' Finder CRE Revision book,'A' Finder Geography Revision book,1000 Kikuyu Proverbs,"11+ English Progress Papers Book 1: Key Stage 2, Ages 9-12","11+ Maths Progress Papers Book 3: Key Stage 2, Ages 9-12",12 Rules for Life,1999 Abacus Year 2 / P3: Workbook Number 1,1999 Abacus Year 2 / P3: Workbook Number 2,2024 Art Cover Diary A5 Gaia RMC,3 Tier Document Tray H2003,...,You Are a Badass Every Day,iLower Secondary Global Citizenship Workbook Year 7 (Pearson),"iPrimary Reception Activity Book: English, Reception 2, Autumn","iPrimary Reception Activity Book: English, Reception 2, Summer","iPrimary Reception Activity Book: World Around Us, Reception 2, Autumn","iPrimary Reception Activity Book: World Around Us, Reception 2, Summer",iprimary Global Citizenship Workbook Year 3 (pearson),iprimary Global Citizenship Workbook Year 4 (pearson),iprimary Global Citizenship Workbook Year 6,steadtler pencil 110 3H
Customer name,,,,,,,,,,,,,,,,,,,,,
AJIT GOVIND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AMRUTT KENYA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ANNE MUKUNGA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aashish Shah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aatiyah Aahrif,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
susan wairimu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
talib,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
terry mbuthia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
the one,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vin maina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
dictionary = products_bought["Drawing Book A3 Ref053"]
display(dictionary)

Customer name
AJIT GOVIND      NaN
AMRUTT KENYA     NaN
ANNE MUKUNGA     NaN
Aashish Shah     NaN
Aatiyah Aahrif   NaN
                  ..
susan wairimu    NaN
talib            NaN
terry mbuthia    NaN
the one          NaN
vin maina        NaN
Name: Drawing Book A3 Ref053, Length: 1090, dtype: float64

In [34]:
similarBooks = products_bought.corrwith(dictionary)
similarBooks = similarBooks.dropna()
similarBooksdf = pd.DataFrame(similarBooks)
display(similarBooksdf)

/home/dennis/Desktop/projects/recommender_system/venv/lib/python3.10/site-packages/numpy/lib/function_base.py:2897: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/home/dennis/Desktop/projects/recommender_system/venv/lib/python3.10/site-packages/numpy/lib/function_base.py:2889: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/home/dennis/Desktop/projects/recommender_system/venv/lib/python3.10/site-packages/numpy/lib/function_base.py:2748: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)
/home/dennis/Desktop/projects/recommender_system/venv/lib/python3.10/site-packages/numpy/lib/function_base.py:2748: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)

                              0
Product
HP Ink Cartridge 305 Black  1.0
Photocopy Paper A4 AONE     1.0

In [23]:
similarBooks.sort_values(ascending=False)

Series([], dtype: float64)

In [107]:
product_stats = df.groupby('Product').agg({'Order status':[np.size, np.mean]})
display(product_stats)

/tmp/ipykernel_7701/2064887838.py:1: FutureWarning: The provided callable <function mean at 0x7f98f43683a0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  product_stats = df.groupby('Product').agg({'Order status':[np.size, np.mean]})

                                                   Order status
                                                           size mean
Product
'A' Finder CRE Revision book                                  1  3.0
'A' Finder Geography Revision book                            1  3.0
10 Minutes A Day Phonics, Ages 3-5 (Preschool)                1  1.0
1000 Kikuyu Proverbs                                          2  3.0
11+ English Progress Papers Book 1: Key Stage 2...            1  3.0
...                                                         ...  ...
iPrimary Reception Activity Book: World Around ...            1  3.0
iprimary Global Citizenship Workbook Year 3 (pe...            1  3.0
iprimary Global Citizenship Workbook Year 4 (pe...            1  2.0
iprimary Global Citizenship Workbook Year 6                   2  2.0
steadtler pencil 110 3H                                       2  2.0

[1761 rows x 2 columns]

In [110]:
popular_products = product_stats["Order status"]["size"]>=1000
product_stats[popular_products].sort_values(by=("Order status","mean"),ascending=False)[:15]
display(product_stats)

                                                   Order status
                                                           size mean
Product
'A' Finder CRE Revision book                                  1  3.0
'A' Finder Geography Revision book                            1  3.0
10 Minutes A Day Phonics, Ages 3-5 (Preschool)                1  1.0
1000 Kikuyu Proverbs                                          2  3.0
11+ English Progress Papers Book 1: Key Stage 2...            1  3.0
...                                                         ...  ...
iPrimary Reception Activity Book: World Around ...            1  3.0
iprimary Global Citizenship Workbook Year 3 (pe...            1  3.0
iprimary Global Citizenship Workbook Year 4 (pe...            1  2.0
iprimary Global Citizenship Workbook Year 6                   2  2.0
steadtler pencil 110 3H                                       2  2.0

[1761 rows x 2 columns]

In [111]:
df = product_stats[popular_products].join(pd.DataFrame(similarBooks.reset_index(0),columns=["similarity"]), on="Product")
display(df.head())

MergeError: Not allowed to merge between different levels. (2 levels on the left, 1 on the right)